doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/annyang/2.0.0/annyang.min.js')
    script(type='text/javascript').
        if(annyang){
            var commands = {
                'fire': function(){
                    console.log("test SUCCESS");
                }
            };
            annyang.addCommands(commands);
            annyang.start();
            console.log('started');
        }
  body
    block content